{{# if productos}}
<form action="/pay" method="post">
    <div class="row">
        <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
            <ul>
                {{# each productos}}
                <li class="list-group-item">
                    <span class="badge"> {{this.qty}}</span>
                    <strong>{{this.item.titulo}}</strong>
                    <span>
                        <i class="fas fa-dollar-sign"></i> {{this.precio}}</span>
                    <br>
                    <br>
                    <div class="btn-group">
                        <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown"> Acciones
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Eliminar un Producto</a>
                            </li>
                            <li>
                                <a href="#">Eliminar Productos</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {{/each}}

            </ul>
        </div>
    </div>
    <center>
        <div class="row">
            <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
                <strong>Total:
                    <i class="fas fa-dollar-sign"></i> {{totalPrecio}} </strong>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-sn-2 col-md-6 col-md-offset-3 col-sn-offset-3">
                <button type="submit" class="btn btn-success">
                    <img width="160px" src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/btn_10.png" alt="PayPal"
                    />
                </button>

            </div>
        </div>


        </div>
</form>
<form action="/card" method="post">
    <button type="submit" class="btn btn-success">
        <img width="138px" src="https://www.paypalobjects.com/webstatic/es_MX/mktg/logos-buttons/redesign/CI_btn_2.png" alt="Tarjeta PayPal"
        />
    </button>
</form>
{{else}}
<div class="row">
    <div class="col-sn-6 col-md-6 col-md-offset-3 col-sn-offset-3">
        <h2>No existe en el Carrito ningun Produto</h2>
    </div>
</div>
</center>
{{/if}}